*{
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */
    font-family: "Apercu",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}
#page1{
    background: #FFD500;
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 680px;
    overflow: hidden;
}
#page1 h1 {
    font-size: 68px;
    font-weight: 900;
}
#pad-10 {
    margin-top: -15px;
}
.txt1 {
    font-size: 19px;
    margin-top: 30px;
    font-weight: 500;
}
.txt2 {
    font-size: 24px;
    font-weight: bold;
}
.button button {
    background-color: rgb(89, 0, 255);
    color: aliceblue;
    width: 180px;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;
}
.svg img {
    width: 90%;
    margin-top: -65px;
    margin-left: 90px;
}
@media screen and (max-width: 1000px){
    #page1{
        height: 85vh;
        overflow: hidden;
    }
}
@media screen and (max-width: 770px){
    #page1{
        height: 100%;
        overflow: hidden;
    }
    #page1 h1, .txt1, .txt2  {
        margin-left: -50px;
    }
    #page1 h1 {
        font-size: 46px;
        margin-top: -25px;
    }
    .txt1 {
        margin-top: -0px;
        font-size: 10px;
        font-weight: 700;
    }
    .txt2 {
        font-size: 14px;
        font-weight: bold;
        margin-top: -20px;
    }
    .button button {
        width: 140px;
        height: 40px;
        font-size: 14px;
        margin-left: -50px;
        margin-top: -30px;
    }
    .svg {
        margin-top: -100px;
    }
    .svg img{
        margin: 0;
    }
}

/* page 2 */

#page2 {
    background: #101630;
    background-size: cover;
    background-position: center;
    height: 100%;
    overflow: hidden;
}
.circle h1 {
    font-size: 58px;
    color: white;
    background: linear-gradient(to top right, #101630, #1b1f33, #424653);
    font-weight: bold;
    height: 480px;
    width: 432px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
}
.lists {
    margin-top: 40px;
}
.icon1, .icon2, .icon3, .icon4 {
    height: 90px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 60%;
    margin-left: 70px;
}
.icon1:hover, .icon2:hover, .icon3:hover, .icon4:hover {
    height: 100px;
    width: 100px;
    margin-left: 65px;
}
.icon1 {
    background-color: rgb(145, 57, 108);
}
.icon2 {
    background-color: rgb(70, 123, 158);
}
.icon3 {
    background-color: #FFD500;
}
.icon4 {
    background-color: rgb(15, 224, 127);
}
.text1 {
    color: rgb(145, 57, 108);
}
.text2 {
    color: rgb(70, 123, 158);
}
.text3 {
    color: #FFD500;
}
.text4 {
    color: rgb(15, 224, 127);
}
.lists p {
    color: white;
    font-size: 15px;
    font-weight: 400;
}
.lists .text {
    margin-left: -70px;
}
.arrow {
    margin-left: 92px;
}

@media screen and (max-width: 770px){
    #page2 {
        height: 100%;
    }
    .icon1, .icon2, .icon3, .icon4 {
        margin-left: 0px;
    }
    .lists .text {
        margin-left: -110px;
    }
    .arrow {
        margin-left: 23px;
    }
    .icon1:hover, .icon2:hover, .icon3:hover, .icon4:hover {
        margin-left: -5px;
    }
    .circle h1 {
        font-size: 36px;
        height: 384px;
        width: 346px;
    }
}
@media screen and (max-width: 445px) {
    .circle h1 {
        font-size: 32px;
        height: 336px;
        width: 302px;
    }
    .text1, .text2, .text3, .text4 {
        font-size: 18px;
    }
    .lists .text {
        margin-left: -95px;
    }
    .lists p {
        font-size: 13px;
    }
    .icon1, .icon2, .icon3, .icon4 {
        height: 70px;
        width: 70px;
    }
    .arrow {
        margin-left: 20px;
        width: 30px;
    }
    .icon1:hover, .icon2:hover, .icon3:hover, .icon4:hover {
        height: 80px;
        width: 80px;
        margin-left: -5px;
    }
}